h1 {
  color: orange;
  font-family: sans-serif;
  text-align: center;
}

.kotak{
  padding: 50px;
  width: 100px;
  color: white;
  margin: 10px;
  background-color: orange;
}

#kotak{
  width: 400px;
  color: white;
  background-color: blueviolet;
  padding: 50px;
}

.gambar{
  width: 300px;
  height: 250px;
  display: flex;
  float: right;
  display: -webkit-box;
  margin-top: -25%;
  margin-right: 65%;
}